<app-header></app-header>
<div class="landing-page">
  <!-- Hero Section -->
  <section class="hero">
    <div class="logo">
      <img [src]="logoUrl" alt="Logo" />

    </div>
    <h1>Welcome to Astra Lab!</h1>
    <p>Your one-stop solution for Collaborative API Testing.</p>
    <button (click)="navigateTo('home')">Get Started</button>
  </section>

  <!-- Features Section -->
  <section class="features">
    <h2>Why Choose Astra Lab?</h2>
    <div class="feature-list">
      <div class="feature-item">
        <h3>Collaborative Testing</h3>
        <p>Seamlessly collaborate on API testing with your team in real-time.</p>
      </div>
      <div class="feature-item">
        <h3>Robust Analytics</h3>
        <p>Gain actionable insights and optimize API performance.</p>
      </div>
      <div class="feature-item">
        <h3>User-Friendly Interface</h3>
        <p>Enjoy an intuitive design tailored for developers and teams.</p>
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer class="footer">

  </footer>
</div>
