/* filepath: /c:/Users/User/Desktop/Project 1/Front/src/app/landing-page/landing-page.component.scss */
.landing-page {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.hero {
  background: var(--background-color);
  background-size: cover;
  color: var(--text-color);
  text-align: center;
  padding: 100px 20px;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero .logo img {
  max-width: 200px; /* Adjusted max-width */
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero .btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.features {
  padding: 50px 20px;
  text-align: center;
  color: var(--text-color);

}

.features h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.feature-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-item {
  max-width: 300px;
  margin-bottom: 30px;
  color: var(--text-color);

}

.feature-item .icon {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.feature-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1em;
}

.footer {
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e9ecef;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text-color);


}
