<div class="login-container">
  <div class="login-content">
    <h2 class="login-title">Login</h2>
    <!-- <div class="theme-toggle">
      <input
        type="checkbox"
        id="theme-toggle-checkbox"
        [checked]="isDarkMode"
        (change)="toggleTheme()"
      />
      <label for="theme-toggle-checkbox" class="toggle-switch">
        <span class="toggle-thumb">
        </span>
      </label>
    </div> -->
    <form>
      <div class="form-group">
        <label class="form-label" for="login">Username or Email</label>
        <input
          type="text"
          id="login"
          [(ngModel)]="loginIdentifier"
          name="loginIdentifier"
          class="form-input"
          placeholder="Enter your username or email"
          required
        />
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          class="form-input"
          placeholder="Enter your password"
          required
        />
      </div>
      <button type="submit" class="submit-button" (click)="login()">Login</button>
      <!-- <div class="checkbox-container">
        <input
          type="checkbox"
          [(ngModel)]="rememberMe"
          name="rememberMe"
          id="rememberMe"
        />
        <label for="rememberMe">Keep Me Logged In</label>
      </div> -->
      <a class="link" (click)="goToRegister()">Go To Register</a>
    </form>
  </div>
</div>
