/* Global SCSS Variables and Mixins */
@import 'ngx-toastr/toastr';
.toast {
  border-radius: 55px !important;
}
// Color variables for light mode
$color-light-background: #F4F0DB;
$color-light-text: #121212;
$color-light-primary: #007bff;

// Color variables for dark mode
$color-dark-background: #121212;
$color-dark-text: #F4F0DB;
$color-dark-primary: #bb86fc;

// Define reusable variables
$spacing-base: 16px;
$border-radius: 4px;

// Mixin to handle light/dark mode switching
@mixin theme($theme) {
  @if $theme == light {
    background-color: $color-light-background;
    color: $color-light-text;
    --primary-color: $color-light-primary;
  } @else if $theme == dark {
    background-color: $color-dark-background;
    color: $color-dark-text;
    --primary-color: $color-dark-primary;
  }
}

// Keyframes for moving gradient
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Theme-specific styles
html[theme='light'] {
  --background-color: #ffffff;
  --text-color:  #353434;
  --primary-gradient: linear-gradient(90deg, #007bff, #00d4ff); /* Light theme gradient */
}

html[theme='dark'] {
  --background-color: #353434;
  --text-color: #ffffff;
  --primary-gradient: linear-gradient(90deg, #bb86fc, #3700b3); /* Dark theme gradient */
}

/* Body styles for light and dark mode */
body {
  margin: 0; /* Reset margin */
  font-family: Arial, sans-serif; /* Set a default font */
}

* {
  transition: all 0.4s ease; /* Applies a smooth transition to all properties */
}

/* Styles to apply moving gradient */


/* Example for anchor tags */
a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  position: relative;

  /* Moving gradient background */
  background-size: 300% 300%; /* Ensure the background covers a larger area */
  background-image: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  /* Animation */
  animation: gradientAnimation 8s ease infinite; /* Controls the speed of movement */
}

a.active {
  font-weight: 550;
  animation: gradientAnimation 8s ease infinite;
}
